.page-auth {
  .row-login {
    min-height: 75vh;
  }

  .section-store-auth {
    h2 {
      color: #0c0d36;
      font-size: 28px;
      font-weight: 400;
      margin-top: 0;
    }

    label {
      color: #0c0d36;
      font-size: 16px;
      font-weight: 400;
      line-height: normal;
    }

    .custom-radio {
      .custom-control-input:checked ~ .custom-control-label::before {
        border-color: #a3a3a3;
        background-color: #29a867;
      }
    }
  }

  .form-control {
    border-radius: 8px;
    background-color: #f3f3f3;
  }

  .btn-signup {
    @include button-variant(#f3f3f3, transparent);
    color: #bbbbbb;
  }

  @include media-breakpoint-down(lg) {
    .w-75 {
      width: 100% !important;
    }
  }
}
